{% extends "pages/base.html" %}
{% load static %}
{% block title %}Thiết lập địa chỉ cảnh báo{% endblock  %}
{% block css %}
   <link rel="stylesheet" type="text/css" href="{% static 'css/changes.css' %}">
{% endblock %}
{% block active%}
{% if not user.username %}
    <form class="form-inline my-2 my-lg-0">
    <a class="btn btn-outline-success my-2 my-sm-0 mr-3" href='/login'>Đăng nhập</a>
    <a class="btn btn-outline-success my-2 my-sm-0 " href = '/register'>Đăng ký</a>
    
</form>
{% else %}
<div class="my-2 my-sm-0 mr-3 " href='#'>
    <img alt="" class="avatar mr-2">
    <div class="dropdown d-inline-block ">
        <a class="btn btn-outline-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Welcome {{user.last_name}}
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Profile</a>
            <a class="dropdown-item" href = "{%url 'logout'%}">Logout</a>
        </div>
    </div>
</div>
{% endif %}

{%endblock%}
{% block navbar %}
<div class="d-flex mt-4" id="wrapper">
    <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="list-group list-group-flush overlay" id="overlay">
                <a href="#" class="list-group-item list-group-item-action bg-light mt-2"><i
                        class="far fa-bell mr-3"></i>Notifications</a>
                <a href="/websites" class="list-group-item list-group-item-action bg-light"><i
                        class="far fa-file-alt mr-3"></i>Websites</a>
                <a href="/manageaddress" class="list-group-item list-group-item-action bg-info active"><i class="fas fa-address-book mr-3"></i>Kênh thông báo</a>
            </div>
    </div>
    
    
{% endblock navbar %}


{% block content %}
<div class="container mt-4" id="url">
    <div class="row">
        <div class="col-lg-9 col-sm-10 ml-4"> 
            <h4>Thiết lập địa chỉ nhận cảnh báo cho: <a href = "{{ListAddress.0.uri_id.uri}}"  class="text-danger"> {{ListAddress.0.uri_id.name}}</a></h4>
        </div>
        <div class="col-lg-1 col-sm-3 ">
            <div class="col-xl-1 col-sm-12 col-md-6 ml-4">
                <button type="button" id="btn-show-modal" class="btn btn-success " data-toggle="modal" data-target="#add" ><i class="fas fa-plus"></i> Thêm</button>
            </div>
        </div>
    </div>
    <hr/>   
    <div class="row">
        <form method ='GET' class="col form-inline ml-4">
        <div class="col-xl-1 col-sm-12 col-md-12 mb-4">
        </div>
        <div class="col-xl-3 col-sm-6 col-md-6 mb-4">
            {% csrf_token %}
            <input class="form-control" type="text" placeholder="Search" aria-label="Search" id="textsearch" name="textsearch" value= {{request.GET.textsearch}}>
        </div>
        <div class= "ml-4 mb-4">Loại:</div>
        <div class="col-xl-2 col-sm-4 col-md-4 mb-4">
           <div class="form-group">
                <select class="form-control" id="filterAddress" name="filterAddress">
                <option value = "all" {% if request.GET.filterAddress == 'all' %} selected{% endif %}>Tất cả</option>
                <option value = "Email" {% if request.GET.filterAddress == 'Email' %} selected{% endif %}>Email</option>
                <option value = "Phone"{% if request.GET.filterAddress == 'Phone' %} selected{% endif %}>Số Điện Thoại</option>
                </select>
            </div>
        </div>
        <div class= "ml-4 mb-4">Trạng thái:</div>
        <div class="col-xl-2 col-sm-6 col-md-5 mb-4">
           <div class="form-group">
                <select class="form-control" id="filterAddress" name="filterState">
                <option value = "all" {% if request.GET.filterState == 'all' %} selected{% endif %}>Tất cả</option>
                <option value = "1" {% if request.GET.filterState == '1' %} selected{% endif %}>Kích hoạt</option>
                <option value = "0" {% if request.GET.filterState == '0' %} selected{% endif %}>Tạm ngưng</option>
                </select>
            </div>
        </div>
        <div class="col-xl-1 col-sm-2 mb-4">
            <button class="btn btn-info mt-2 mb-2 pl-2 pr-2" type="submit" id="search" name = "search"><i class="fa fa-search"></i> Search</button>
        </div>
    </form>
    <div class="modal fade" id="add">
        <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title">Thêm địa chỉ</h4>
            <button type="button" class="close" data-dismiss="modal" data-target="#add" >&times;</button>
            </div>
            {% if not list %}
            <div class = "text-center mt-3 mb-3 ">
            <h6> Địa chỉ theo dõi một website nào!</h6>
            <h6> Bạn có thể ấn vào <a href="/websites">đây</a> để thêm website theo dõi.</h6>
            </div>
            {% else %}
            <div class="modal-body">
            <div method='POST' class="container">
                <div class="row">
                    <div class="col-xl-8">
                        <div class="form-group">
                          <label for="">Address</label>
                          <input type="text"
                            class="form-control" name="address" id="address" aria-describedby="helpId" placeholder="" required>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="form-group">
                          <label for="">Loại</label>
                          <select class="form-control" name="typeAddress" id="typeAddress">
                            <option>Email</option>
                            <option>Phone</option>
                          </select>
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="form-group">
                          <label for="">URL</label>
                          <select class="form-control" name="uri" id="uri">
                            {% for item in list %}
                                <option value ={{item.id}} {% if item.id == ListAddress.0.uri_id.id %}selected{% endif %}> {{item.uri}}</option>
                            {% endfor %}
                          </select>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="modal-footer">
            <button type="submit" class="btn btn-success" name="addAddress" id="addAddress">Xác nhận</button>
            <button type="button" class="btn btn-danger mr-2" data-dismiss="modal">Close</button>
            </div>
            {% endif %}
            
        </div>
        </div>
    </div>
    <div class="modal fade" id="edit">
        <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title">Sửa địa chỉ</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
            <div method='POST' class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="form-group">
                          <label for="">Address</label>
                          <input type="text" class="form-control" name="address_edit" id="address_edit" aria-describedby="helpId" placeholder="" required>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-group">
                          <label for="">Loại</label>
                          <select class="form-control" name="typeAddress_edit" id="typeAddress_edit">
                            <option>Email</option>
                            <option>Phone</option>
                          </select>
                        </div>
                    </div>
                     <div class="col-xl-6">
                        <div class="form-group">
                          <label for="">Trạng thái</label>
                          <select class="form-control" name="state_edit" id="state_edit">
                            <option value = "1" >Kích hoạt</option>
                            <option value = "0" >Hủy bỏ</option>
                          </select>
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="form-group">
                          <label for="">URL</label>
                          <select class="form-control" name="uri_edit" id="uri_edit">
                            {% for item in list %}
                                <option value={{item.id}} > {{item.uri}}</option>
                            {% endfor %}
                          </select>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="modal-footer">
            <button class="btn btn-success mr-3" name="editAddress" id="editAddress">Xác nhận</button>
            <button type="button" class="btn btn-danger mr-3" data-dismiss="modal">Close</button>
            </div>
            
        </div>
        </div>
    </div>
    {% if ListAddress %}
    <div class ="container row d-flex justify-content-center">
    <form method='POST' class="col-xl-9">
        {% csrf_token %}
                <div class="table-responsive ">
                    <table class="table table-striped text-center" id="tableaddress">
                        <thead>
                            <tr>
                                <th class="col text-center">STT</th>
                                <th class="col"><a class="text-dark" href="{%if request.get_full_path == request.path%}?o=1{%else%}{%if request.GET.o %}{%if request.GET.o == '1'%}{{request.get_full_path|slice:-1}}2{%else%}{{request.get_full_path|slice:-1}}1{%endif%}{%else%}{{request.get_full_path}}&o=1{%endif%}{%endif%}" >Địa chỉ  {%if request.GET.o == '2' %}<i class="fas fa-angle-up"></i></i>{%endif%}{%if request.GET.o == '1' %}<i class="fas fa-angle-down"></i></i>{%endif%}</a></th>
                                <th class="col"><a class="text-dark" href="{%if request.get_full_path == request.path%}?o=5{%else%}{%if request.GET.o %}{%if request.GET.o == '3'%}{{request.get_full_path|slice:-1}}4{%else%}{{request.get_full_path|slice:-1}}3{%endif%}{%else%}{{request.get_full_path}}&o=3{%endif%}{%endif%}">Loại  {%if request.GET.o == '4' %}<i class="fas fa-angle-up"></i></i>{%endif%}{%if request.GET.o == '3' %}<i class="fas fa-angle-down"></i></i>{%endif%}</a></th>
                                <th class="col"><a class="text-dark" href="{%if request.get_full_path == request.path%}?o=7{%else%}{%if request.GET.o %}{%if request.GET.o == '5'%}{{request.get_full_path|slice:-1}}6{%else%}{{request.get_full_path|slice:-1}}5{%endif%}{%else%}{{request.get_full_path}}&o=5{%endif%}{%endif%}">Trạng thái{%if request.GET.o == '7' %}<i class="fas fa-angle-up"></i></i>{%endif%}{%if request.GET.o == '5' %}<i class="fas fa-angle-down"></i></i>{%endif%}</a></th>
                                <th class="col" colspan="2">Hành động</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for item in ListAddress %}
                            <tr id={{item.id}}>
                                <td scope="row" class="text-center">{{ forloop.counter0|add:ListAddress.start_index }}</td>
                                <td>{{item.address}}</td>
                                <td >{{item.typeAddress}}</td>
                                {% if item.active  %}
                                <td><div class="text-success text-center">  <i class="fas fa-check"></i></div></td>
                                {% else %}
                                <td><div class="text-danger text-center">  <i class="fas fa-times"></i></div></td>
                                {% endif %}
                                <td class=" text-center">
                                <button name="delAddress" type="button" class="btn btn-danger" id="{{item.id}};{{item.address}}"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                </td>
                                <td>
                                <button name="edit_Address" type="button" class="btn btn-info" id ="{{item.id}};{{item.address}};{{item.typeAddress}};{{item.uri_id.id}};{% if item.active %}1{% else %}0{% endif %}" data-dismiss="modal" > <i class="far fa-edit" ></i></button>
                                </td>
                            </tr>
                        {% endfor %}
                            
                        </tbody>
                    </table>
                    <div class ="d-flex justify-content-center mr-5">
                    {% if ListAddress.has_other_pages %}
                    <ul class="pagination">
                        {% if ListAddress.has_previous %}
                        <li class ="page-item" ><a  class="page-link" href="?page={{ ListAddress.previous_page_number }}{% if request.GET.textsearch %}&textsearch={{ request.GET.textsearch }}{% endif %}&o={{request.GET.o}}">&laquo;</a></li>
                        {% else %}
                        <li class=" page-item disabled"><span class="page-link">&laquo;</span></li>
                        {% endif %}
                        {% for i in ListAddress.paginator.page_range %}
                        {% if ListAddress.number == i %}
                            <li class=" page-item active"><span  class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                            <li class ="page-item"><a class="page-link" href="?page={{ i }}{% if request.GET.textsearch %}&textsearch={{ request.GET.textsearch }}{% endif %}&o={{request.GET.o}}">{{ i }}</a></li>
                        {% endif %}
                        {% endfor %}
                        {% if ListAddress.has_next %}
                        <li class ="page-item"><a class="page-link" href="?page={{ ListAddress.next_page_number }}{% if request.GET.textsearch %}&textsearch={{ request.GET.textsearch }}{% endif %}&o={{request.GET.o}}">&raquo;</a></li>
                        {% else %}
                        <li class=" page-item disabled"><span class="page-link">&raquo;</span></li>
                        {% endif %}
                    </ul>
                    {% endif %}
                    </div>
                </div>        
    </form>
    </div>
    {% else %}
     <div class = "text-center mt-3 mb-3 col-xl-11 ml-5 ">
         <hr/>
        <h6> Không tìm thấy địa chỉ phù hợp!</h6>
        <h6> Bạn có thể ấn thêm mới để thêm địa chỉ nhận cảnh báo.</h6>
    </div>
    {% endif %}
        
        
    </div>
</div>
</div>
{% endblock %}

{% block script %}

<script>
$(document).ready( function(){
   $('#addAddress').on('click',function(evt){
        var address = document.getElementById('address').value;
        if (address.length ==0){
            Swal.fire('Lỗi','Địa chỉ không thể để trống!','error')
        }
        else {
        $.ajax({
            url: '/manageaddress', 
            type: 'GET', 
            data: {'action': 'addAddress','address': document.getElementById('address').value, 'typeAddress':$( "#typeAddress_edit option:selected" ).text(), 'uri':$( "#uri option:selected" ).val(),},
            success: function(data){
                Swal.fire(
                'Thành công!',
                'Địa chỉ nhận cảnh báo đã được thêm thành công.',
                'success'
                ).then(()=>{
                    location.reload();
                });
            },
            error: function(){
                Swal.fire(
                'Lỗi!',
                'Vui lòng kiểm tra lại thông tin. Địa chỉ có thể đã được sử dụng!!',
                'error'
                )
            }
        });
        }
   });
   $('button[name="delAddress"]').click(function(){
    var text = this.id.split(';');
    Swal.fire({
        title: 'Bạn có chắc chắn muốn xóa?',
        type: 'warning',
        html: "Hoạt động này sẽ xóa địa chỉ <span style='color:#ff0000' class='font-weight-bold'>"+text[1]+"</span> khỏi danh sách.",
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Chấp nhận',
        cancelButtonText: 'Hủy'
    }).then((result) => {
        if (result.value) {
            $.ajax({
            url: '/manageaddress', 
            type: 'GET',
            dataType: 'json',
            data: {
                'action' : 'delAddress',
                'id' : text[0],
            },
            success: function(data){
                Swal.fire(
                'Đã xóa!',
                'Địa chỉ được xóa thành công!',
                'success'
                ).then(()=>{
                   location.reload();
                });
            },
            error: function(data){
                Swal.fire(
                'Lỗi!',
                'Vui lòng kiểm tra lại thông tin.',
                'error'
                )
            }
        });
        }
    });
   });
   $('button[name="edit_Address"]').on('click',function(e){
    e.preventDefault();
    var text = this.id.split(';');
    $('#edit').modal('hide');
    $('#address_edit').val(text[1]);
    $('#typeAddress_edit').val(text[2]);
    $('#state_edit').val(text[4]).change();
    $('#uri_edit').val(text[3]).change();
    $('#edit').modal('show');
    $('#editAddress').off().on('click',function(evt){
        var address = document.getElementById('address_edit').value;
        if (address.length ==0){
            Swal.fire('Lỗi','Địa chỉ không thể để trống','error')
        }
        else {
        $.ajax({
            url: '/manageaddress', 
            type: 'GET', 
            data: {'action': 'editAddress','address': document.getElementById('address_edit').value, 'typeAddress':$( "#typeAddress_edit option:selected" ).text(), 'uri':$( "#uri_edit option:selected" ).val(), 'id' : text[0],'active': $("#state_edit option:selected").val(),},
            success: function(data){
                Swal.fire(
                'Thành công!',
                'Địa chỉ nhận cảnh báo đã được cập nhật thành công.',
                'success'
                ).then(()=>{
                    location.reload();
                });
            },
            error: function(){
                Swal.fire(
                'Lỗi!',
                'Vui lòng kiểm tra lại thông tin.',
                'error'
                )
            }
        });
        }
   });
   });
    
});

</script>
{% endblock %}
