{% extends "pages/base.html" %}
{% block title %}Quên mật khẩu{% endblock  %}
{% block active%}
<form class="form-inline my-2 my-lg-0">
    <a class="btn btn-outline-success my-2 my-sm-0 mr-3 " href='/login'>Đăng nhập</a>
    <a class="btn btn-outline-success my-2 my-sm-0  " href = '/register'>Đăng ký</a>
</form>
{%endblock%}
{% block content  %}
<form method ='POST'>
    <div class = "row justify-content-center align-items-center " >
        <div class = "col-lg-6 "> 
            <div class="container card mt-5 mb-5" style="background-color: #f8f8f8;">
                </br>
                <h5>Quên mật khẩu</h5>
                <hr/>
                <div class="row border-primary d-flex justify-content-center align-items-center ">
                    <div class="col-lg-10 row">
                
                        <div class="col-lg-12">
                            <div class="form-group  text-center">
                                <label for=""><h6>Kiểm tra email của bạn và truy cập vào liên kết được gửi. Nếu không thấy vui lòng kiểm tra mục thư rác</h6></label>
                            </div>
                        </div>

                        
                        
                    </div>
                    <div class="col-lg-4 mt-2 mb-5 d-flex justify-content-center">
                            <a href ='/login' class=" btn btn-success ">Về lại trang đăng nhập</a>
                        </div>
                </div>
            </div>
        </div>
    </div>
</form>
{%endblock%}
